---
layout: default
title: Contact Us - Sabi's Portfolio
header: Contact Us
---
{% include header.html %}
{% include nav.html %}
<main class="Ba">    
        <b class="cc">Last Modified :
            <script>document.write(document.lastModified);</script> 
        </b> 
            <h1 class="h1">Contact Us</h1>
    <div class="contactus">      
        <!-- Update the action url -->
        <form class="gform" action="https://script.google.com/macros/s/AKfycbzVfSes9ZJ89_b5jcmdLoJ93O_PJR5B0MEV06P5/exec" method="post" >
            <div class="form-elements"><br>
                <p class="pa">Full Name:</p>                 
                <input type="text" placeholder="Full Name" size="50" maxlength="200" name="name" required>
                <br><br>

                <p class="pa">Email:</p>
                <input type="text" placeholder="example@mail.com" size="50" maxlength="200" name="email" required>
                <br><br>

                <p class="pa">Contact Number:</p>
                <input type="text" placeholder="Contact Number" name="number" required>
                <br><br>

                <p class="pa">Message:</p>
                <textarea cols="50" rows="10" placeholder="Please start writing your message here......." name="message" required></textarea><br>
                
                <input  type="submit" name="" value="SUBMIT">
            </div><br>
            <div class="thankyou_message" style="display:none;">
                <h1 class="thankyou"><em>Thank you for contacting me!</em>
                <h3 class="contactus1">Your submission has been processed.
                I will get back to you as soon as possible.</h3><br><br>                                
                    <p class="contactus1"><u class="underline">You can also contact me on the details below</u></p>
                    <br><h3 class="contactus1">Sabi Singh</h3>
                    <h3 class="contactus1">021 0392304</h3>
                    <h3 class="contactus1">singhs2@student.op.ac.nz</h3>                          
            </div>
        </form>

        <div class="form-elements">
            <a href="https://www.facebook.com/sabi.bhangu.756859" class="fa fa-facebook"></a>
            <a href="https://github.com/SABISINGH" class="fa fa-github"></a>
            <a href="http://mariadb.ict.op.ac.nz/~segroup2/op-stats-chicken-wings/public/login" class="fa fa-healthnutz">HealthNutz</a>
        </div>
            <script data-cfasync="false" src="/js/form-submission-handler.js"></script>            
    </div><br><br>
        <h2 class="h2">Map</h2> 
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2778.2619205799797!2d170.51614341607092!3d-45.86606914365754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa82eac69c7dde82b%3A0xc1794179fb2789e!2sOtago%20Polytechnic!5e0!3m2!1sen!2snz!4v1588157829399!5m2!1sen!2snz" 
        width="82%" height="650" frameborder="0" style="border:0;" allowfullscreen="" alt="Map of Dunedin"
        title="Map of Dunedin"></iframe>         
</main>
{% include footer.html %}
    
    
    
    
    