---
layout: default
title: CV - Sabi's Portfolio
header: Curricallum Vitae
---
{% include header.html %}
{% include nav.html %}
<main class="Ba">
    <b class="cc">Last Modified :
        <script>document.write(document.lastModified);</script> 
    </b>
    <h1 class="h1">Sabi's Curriculum Vitae</h1><br>
    <div class="cv">
        <p class="h21">
            To download my curriculum vitae as a DOC file please click <a class="aa" href="CV/Sabi Singh CV.doc">here</a><br>
        </p><br>
        <p class="h21">
            To download my curriculum vitae as a PDF file please click <a class="aa" href="./images/sabisinghcv.pdf">here</a><br>
        </p><br><br>
        
        <img src="./images/sabisinghcv-page1.png" class="imgg" alt="cv"><br>
        <img src="./images/sabisinghcv-page2.png" class="imgg" alt="cv"><br>
        <img src="./images/sabisinghcv-page3.png" class="imgg" alt="cv">
    </div>
</main>
{% include footer.html %}
