---
layout: default
title: Home - Sabi's Portfolio
header: Sprint 1
---
{% include header.html %}
{% include nav.html %}
<main class="Ba">
    <b class="cc">Last Modified :
        <script>document.write(document.lastModified);</script> </b>
    <h1 class="h1">Home</h1><br>
    <div class="rowww">
        <div class="columnnn">

            <div class="zoom"><img class="img" src="images/IMG_2512.JPG" width="104%" height="130%"></div>
                                   
        </div>
        <div class="columnnn">
            <h1 class="homeh1">Software Engineering Portfolio</h1>
                <p>by <u class="underline">SABI SINGH</u></p><br>
                <p>To visit my project website click <a href="http://mariadb.ict.op.ac.nz/~segroup2/op-stats-chicken-wings/public/"><strong>Health Nutz</strong></a></p><br>

                <div class="zoom">
                <p class="homep1">My name is Sabi Singh. I am a second year BIT student at Otago Polytechnic.</p><br>
                <p class="homep1">Welcome to my portfolio. This portfolio will endure my course for the semester of Software Engineering. All my work is written through the 
                    sprints. Each sprint explains what I have achieved throughout this paper. It includes professional & technical achievements along with personal reflection of what I did 
                    well, could have done better, lessons I learnt and barriers I encountered. I have on top added my CV and a contact us page. I have added images in each sprint as an 
                    evidence of my learning through the semester. I have also added agile page where I have explained how agile principles were followed throughout the project work.
                </p>                               
        </div>
    </div>
    </div>
</main>  
{% include footer.html %}

























 