<footer >
    
    <p>
        <p class="about"> Sabi Singh&#169;   </p><br>

        <div class="roww">
            <div class="column">
                <a class="footerlink" href="https://www.op.ac.nz/study/business-tourism-and-it/computing-and-it/bachelor-of-information-technology/">BIT Otago Polytechnic</a><br>
                <p>D Block, Harbour Terrace <br>
                Dunedin North <br>
                New Zealand 9016</p>
            </div>                        
            <div class="column">
                <a class="footerlink" href="https://github.com/SoftEnOP">SoftEnOp</a>
                <p><strong><a href="mailto:Elise.Allen@op.ac.nz" class="email">Elise Allen</a></strong> - Senior Lecturer<br>
                   <strong><a href="mailto:Martin.Junek@op.ac.nz" class="email">Martin Junek</a></strong> - Lecturer</p>
            </div>     
            <div class="column">
                    <a class="footerlink" href="file:///C:/Users/BHANGUZ/Desktop/New%20Site/contactus.html">Contact Us</a> 
                    <p>Sabi Singh</p>
                    <p>Mobile: 021 039 2304</p>
                    <strong><a href="mailto:singhs2@student.op.ac.nz" class="email">singhs2@student.op.ac.nz</a></strong></p>
            </div>                   
        </div><br>
    </p>
</footer>